<div id="<%= dom_id team %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= team.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">About:</strong>
    <%= team.about %>
  </p>

</div>
